<div class="card">
  <h4 class="card-header">Register</h4>
  <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
              <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                  <div *ngIf="f.firstName.errors.required">First Name is required</div>
              </div>
          </div>
          <div class="form-group">
              <label for="lastName">Last Name</label>
              <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
              <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                  <div *ngIf="f.lastName.errors.required">Last Name is required</div>
              </div>
          </div>
          <div class="form-group">
              <label for="NPI">NPI Number</label>
              <input type="text" formControlName="NPI" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.NPI.errors }" />
              <div *ngIf="submitted && f.NPI.errors" class="invalid-feedback">
                  <div *ngIf="f.NPI.errors.required">NPI is required</div>
              </div>
          </div>
          <div class="form-group">
              <label for="Address">Business Address</label>
              <input type="Address" formControlName="Address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Address.errors }" />
              <div *ngIf="submitted && f.Address.errors" class="invalid-feedback">
                  <div *ngIf="f.Address.errors.required">Business Address is required</div>
                  <div *ngIf="f.Address.errors.minlength">Business Address must be at least 6 characters</div>
              </div>
          </div>
          <div class="form-group">
              <label for="Phone">Phone Number</label>
              <input type="Phone" formControlName="Phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Phone.errors }" />
              <div *ngIf="submitted && f.Phone.errors" class="invalid-feedback">
                  <div *ngIf="f.Phone.errors.required">Phone is required</div>
                  <div *ngIf="f.Phone.errors.minlength">Phone must be at least 10 numbers</div>
              </div>
          </div>
          <div class="form-group">
              <label for="Email">Email Address</label>
              <input type="Email" formControlName="Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Email.errors }" />
              <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
                  <div *ngIf="f.Email.errors.required">Email is required</div>
                  <div *ngIf="f.Email.errors.minlength">Email must be at least 6 characters</div>
              </div>
          </div>
          <div class="form-group">
              <button [disabled]="loading" class="btn btn-primary">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  Register
              </button>
              <a routerLink="../login" class="btn btn-link">Cancel</a>
          </div>
      </form>
  </div>
</div>